body{
  font-family: "Tahoma";
  letter-spacing: 2px;
  padding: 20px;
  font-size:22px ;
  background: linear-gradient(black, aqua,black);
  color:#045f5f;
  text-shadow: 0 0 10px #00FFFF;
  height: 80vh;
  width: 100%; 
  display: flex ;
  justify-content: center;
  align-items: center;
}
span{

  animation: blinker 1s linear infinite;
 
}
@keyframes blinker{
  50%{
    opacity: 0;
  }
}